.recipe
  = form_with(model: @dish, url:recipes_path,local: true,method: :post ) do |f|
    .recipe__main
      .recipe__main__header
        .recipe__main__header__titile
        = f.text_field :title,class: "title--input",placeholder: "料理のタイトル"
        .error-text
          - @dish.errors.full_messages_for(:title).each do |message|
            = message
        .recipe__main__header__titile__info
        = f.text_area :info, class: "info--input", placeholder: "料理についての説明をしてください"
        .error-text
          - @dish.errors.full_messages_for(:info).each do |message|
            = message
      .recipe__main__content
        .recipe__main__content__insert
          .recipe__main__content__insert__image
            - if @dish.image.present?
              = f.label :image do
                = image_tag @dish.image.to_s,class: "dish-image"
                = icon 'fas', 'camera',class:"dish-image--icon"
                = f.file_field :image, class: 'hidden' 
              .error-text
                - @dish.errors.full_messages_for(:image).each do |message|
                  = message
            -else
              = f.label :image, class: 'form__mask__image' do
                = icon 'fas', 'camera',class:"recipe-icon"
                = f.file_field :image, class: 'hidden'
            %p 画像をクリックして写真変更
            .error-text
              - @dish.errors.full_messages_for(:image).each do |message|
                = message
          .recipe__main__content__insert__material
            %h3 材料
            .recipe__main__content__insert__material--list
              = f.text_area :food, class: "material--list", placeholder: "料理の材料を入力してください"
            .error-text
              - @dish.errors.full_messages_for(:food).each do |message|
                = message

      .recipe__main__recipe-form
        %h3 作り方
        %ul.recipe__main__recipe-form__cook
          %li.recipe__main__recipe-form__cook__list
            手順
            .recipe__main__recipe-form__cook__list--icon
              = f.text_area :recipe, class: "material--list"
              .error-text
                - @dish.errors.full_messages_for(:recipe).each do |message|
                  = message
      .recipe__main__cooktime
        %h3 調理時間
        %p およそ
        = f.text_field :cooktime
        %span 分
        .error-text
          - @dish.errors.full_messages_for(:cooktime).each do |message|
            = message
    .recipe__submit
    = f.submit 'レシピを投稿',class:"submit-botton"