- @dishes.each do |dish|
  -if user_signed_in? && dish.user_id == current_user.id
    = link_to edit_recipe_path(dish.id) do
      編集する
  .recipe-lists__inner__preview
    .recipe-lists__inner__preview__image
      = image_tag (dish.image.to_s)
    .recipe-lists__inner__preview__text
      .recipe-lists__inner__preview__text__title
        = link_to recipe_path(dish.id) ,class: "recipe-title" do
          = dish.title
      %span.recipe-lists__inner__preview__text__nickname 
        by
        = link_to user_path(dish.user.id)  do
          = dish.user.nickname
      .recipe-lists__inner__preview__text__info
        .recipe-info
          = dish.info
      .recipe-lists__inner__preview__text__material
        材料：　人参、大根、わかめ